/************** SINGLE LIST ************/


.singleList-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 350px; */
  min-height: 200px;
  /* background-color: #ff6666; */
  /* box-shadow: -1rem -1rem 0 0 rgba(10,10,10, 0.1) */
}

.singleList-container ul {
  list-style: none;
}

