/************** SINGLE TASK ************/


.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(255,255,255, .2);
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-small);
  margin-bottom: .1rem;
  
}

.task {
  position: relative;
}

.task.completed {
  opacity: 0.6;
}

.completed::before {
  content:'';
  position: absolute;
  left: -0.5rem;
  top: 50%;
  height: 2px;
  width: 0%;
  background: #fff;
  animation: strikeitem 0.5s ease-out 0s forwards;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

.btn-container button {
  border: none;
  font-size: 1rem;
  background: none;
  cursor: pointer;
  color: inherit;
  margin: 3px;
}

.SingleTask-form {
  display: flex;
}

.SingleTask-form label {
  min-width: 100%;
}